<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Events</title>
<style>
body {
    font-family: monospace;
}
.box {
    background: #ccc;
    display: inline-block;
    font-size: 32px;
    padding: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
}
.box a {
    background: #000;
    color: #fff;
    padding: 0.25em;
}
.left {
    float: left;
}
.right {
    float: right;
}
.highlight {
    background: #0f0;
}
</style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
$(() => {
    addEventListener("keydown", function(event) {
        console.debug("KEYDOWN EVENT", event);

        //keydown { target: body, key: "k", charCode: 0, keyCode: 75 }
        //keydown { target: body, key: "ArrowUp", charCode: 0, keyCode: 38 }
        //keydown { target: body, key: "ArrowRight", charCode: 0, keyCode: 39 }
        //keydown { target: body, key: "ArrowDown", charCode: 0, keyCode: 40 }
        //keydown { target: body, key: "ArrowLeft", charCode: 0, keyCode: 37 }
    });

    $(".box img").click(function(event) {
        let box = $(this).parent();
        $(".highlight").not(box).removeClass("highlight");
        $(box).toggleClass("highlight");
    });

    $(".delete-button").click(function(event) {
        event.preventDefault();
    });
});
</script>
<div id="header">
<h1>Events</h1>
<form method="get">
<label for="filter">Filter:</label><input id="filter" type="text" name="filter" value="7"><br>
<input type="submit">
</form>
</div>
<div class="content">
{% block content %}{% endblock %}
</div>
</body>
</html>
