<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Events</title>
<style>
body {
    font-family: monospace;
}
.box {
    background: #ccc;
    display: inline-block;
    font-size: 32px;
    padding: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
}
.box a {
    background: #000;
    color: #fff;
    padding: 0.25em;
}
.left {
    float: left;
}
.right {
    float: right;
}
.highlight {
    background: #0f0;
}
</style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
$(() => {
    deleteFile = function(fileref) {
        console.log("Deleting:", fileref)
        let url = "{{ url_for('delete') }}";
        let data = JSON.stringify({"fileref": fileref});
        $.ajax(url, {type: "POST", data: data, contentType: "application/json"});
    };

    deleteBox = function(box) {
        box.fadeOut(200, function() {
            let image = box.attr("data-image");
            deleteFile(image);
            let video = box.attr("data-video");
            deleteFile(video);

            let parent = box.parent();
            box.remove();
            if (parent.children(".box").length == 0) {
                parent.remove();
            }
        });
    };

    selectNextBox = function(current) {
        current.toggleClass("highlight");
        let next = current.next();
        if (next.length == 1) {
            // Next event is same day
            next.toggleClass("highlight");
        } else {
            nextDay = current.parent(".day-container").next();
            if (nextDay.length == 1) {
                // Next event is next day
                nextDay.children(".box").first().toggleClass("highlight");
            } else {
                // No next, try first
                $(".box").first().toggleClass("highlight");
            }
        }
    }

    addEventListener("keydown", function(event) {
        console.debug("KEYDOWN EVENT", event);

        highlighted = $(".box.highlight").first();
        if (highlighted.length > 1) {
            console.error(`Multiple highlights (${highlighted.length})!`);
            return;
        }

        if (event.keyCode == 68) {
            // key: "d", delete the file

            if (highlighted.length == 1) {
                selectNextBox(highlighted);
                deleteBox(highlighted);
            }
        } else if (event.keyCode == 78) {
            // key: "n", select next box

            selectNextBox(highlighted);
        }

        //keydown { target: body, key: "k", charCode: 0, keyCode: 75 }
        //keydown { target: body, key: "ArrowUp", charCode: 0, keyCode: 38 }
        //keydown { target: body, key: "ArrowRight", charCode: 0, keyCode: 39 }
        //keydown { target: body, key: "ArrowDown", charCode: 0, keyCode: 40 }
        //keydown { target: body, key: "ArrowLeft", charCode: 0, keyCode: 37 }
    });

    $(".box img").click(function(event) {
        let box = $(this).parent();
        $(".highlight").not(box).removeClass("highlight");
        $(box).toggleClass("highlight");
    });

    $(".delete-button").click(function(event) {
        event.preventDefault();
        let box = $(this).parents(".box").first();
        deleteBox(box);
    });
});
</script>
<div id="header">
<h1>Events</h1>
<form method="get">
<label for="filter">Filter:</label><input id="filter" type="text" name="filter" value="7"><br>
<input type="submit">
</form>
</div>
<div class="content">
{% block content %}{% endblock %}
</div>
</body>
</html>
